<!--Sidd - stylize and format (should include About Us, Objective, Website Features, Resources, Timeline, Contact Us)-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--set window size to size of computer screen-->
    <title>NextGen College</title> <!--title of tab-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}"> <!--link the style sheet (href specifies url)-->
</head>
<body>
    <h1>Welcome to NextGen College</h1> <!--header style on screen-->
    <button id="loginButton" class="button">Login</button>
    <button id="signupButton" class="button">Sign Up</button>

    <script src="{% static 'scripts.js' %}"></script> <!-- link the javascript code -->
</body>
</html>