<!--optional for MVP - Chandana puts down info, Sidd styles-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Profile</title> 
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>
    <nav> 
        <ul> 
            <li><a href="schedule.html"> Schedule </a></li> 
            <li><a href="profile.html"> Profile </a></li>
            <!--we should link the home page onto the logo if possible-->
        </ul>
    </nav>
    <h1>User Profile</h1>

    <!--we should include a message saying if they want to update mentor matching, to contact us @email-->

    <script src="scripts.js"></script> 
</body>
</html>