body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EDE8F5;
    overflow-x: hidden;
}

header {
    background-color: #6684d0;
    color: #EDE8F5;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: #EDE8F5;
    font-size: 50px;
}

.button {
    display: inline-block;
    padding: 10px 20px; /* Adjust size as needed */
    margin:10px;
    margin-top: 0;
    font-size: 16px; /* Font size of the button text */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    color: white; /* Text color */
    background-color: #3D52A0; /* Background color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

.button:hover {
    background-color: #5e7fd0; /* Darker background on hover */
}

h1 {
    color: #333;
}

section {
    display: block;
    padding: 20px;
    margin: 20px;
    background-color: #d9d2e4;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: center; /* Vertically center-align items */
    justify-content: space-between; /* Distribute space between items */
}

.half {
    margin-top: 40px;
    width: 50%;
}

section h2 {
    color: #6684d0;
}

section h3 {
    color: #EDE8F5;
    text-align: center;
    padding: 0;
    margin: 0;
}

#about-us, #objectives, #contact-us, #signup {
    margin-bottom: 40px;
}

#objectives {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: 1fr 1fr 1fr; /* Three equal rows */
    height: 100vh; /* Full viewport height for spacing */
}

.top, .mid, .btm {
    padding: 20px;
    background-color: #3D52A0; /* Optional: Background color for visibility */
    margin: 10px; /* Optional: Space around each objective */
    color: #EDE8F5;
}

.top {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.mid {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.btm {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#contact-us form input, #contact-us form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.form-container {
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}
